<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <div id="app">
        <p v-if="gender === 1">man</p>
        <p v-else>woman</p>
        <hr>
        <p v-if="score>=90">perfect</p>
        <p v-else-if="score>=60">good</p>
        <p v-else>bad</p>
    </div>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                gender: 1,
                score: 50
            }
        })
    </script>
</body>

</html>