<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/index.css" />
  <title>記事本</title>
</head>

<body>

  <!-- 主體區域 -->
  <section id="app">
    <!-- 輸入框 -->
    <header class="header">
      <h1>小黑記事本</h1>
      <input v-model="toDoName" placeholder="請輸入任务" class="new-todo" />
      <button class="add" @click="add">添加任务</button>
    </header>
    <!-- 列表區域 -->
    <section class="main">
      <ul class="todo-list">
        <li class="todo" v-for="(item,index) in list" :key="item.id">
          <div class="view">
            <span class="index">{{index+1}}</span> <label>{{item.name}}</label>
            <button class="destroy" @click="del(item.id)"></button>
          </div>
        </li>
      </ul>
    </section>
    <!-- 統計和清空 -->
    <footer class="footer" v-show="list.length>0">
      <!-- 統計 -->
      <span class="todo-count">合 计:<strong>{{list.length}} </strong></span>
      <!-- 清空 -->
      <button @click="clear" class="clear-completed">
        清空任务
      </button>
    </footer>
  </section>

  <!-- 底部 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>

    const app = new Vue({
      el: '#app',
      data: {
        toDoName: '',
        list: [
          { id: 1, name: '跑步100米' },
          { id: 2, name: '走路100米' },
          { id: 3, name: '跳繩100下' }

        ]
      },
      methods: {
        del(id) {
          this.list = this.list.filter(item => item.id !== id)
        },
        add() {
          if (this.toDoName.trim() === '') {
            alert('請輸入內容')
            return
          }
          this.list.unshift(
            {
              id: +new Date(),
              name: this.toDoName
            }
          )
          this.toDoName = ''
        },
        clear(){
          this.list=[]
        }
      }
    })

  </script>
</body>

</html>